---
import Layout from "../layouts/Layout.astro";
import Login from "../components/login/Login.svelte";
---

<Layout title="DiscordSTT: Tiers">
  <main>
    <Login />
  </main>
</Layout>

<style>
  main {
    display: flex;
    width: 100%;
  }
</style>