---
import TierContainer from "../components/tiers/TierContainer.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="DiscordSTT: Tiers">
  <main>
    <TierContainer price={0} blurb="Our free tier." bullets={[
      ""
    ]} />
    <TierContainer price={5} blurb="Our premium tier." bullets={[
      "Everything included in the utilities tier, plus...",
      "Enhanced Speech-to-Text"
    ]} />  
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: space-around;
    padding: 6rem;
    flex-wrap: wrap;
    height: 100%;
  }
</style>